<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.handymanapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.ChatLog.NewMessagesActivity"></activity>
        <activity android:name=".ui.ChatLog.ChatLogActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.HomePageActivity" />
        </activity>
        <activity
            android:name=".activities.HomePageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".activities.SignupActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity
            android:name=".activities.MainActivity"
            android:windowSoftInputMode="stateVisible">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Utils.Firebase">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBP1MYOcF7YqjnBbdSZAEOLM-jyrMP2ezk" />
   </application>

</manifest>